body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('https://lh4.googleusercontent.com/aL9n5yTzRKLYP_FXSFc1r_y_kBB70v7KaaPOqf_3VWMIawzUiZSGUjShBv7_bKxemk9_VHwuZI4Zs_YWdoPrR2Q=w1280');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0 0;
}

footer {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
